ion-header {
    background-color: #3880ff;
    color: white;
  }
  
  ion-item {
    --background: transparent; /* Fond transparent pour les éléments de menu */
  }
  
  ion-icon {
    color: #3880ff;
  }
  
  ion-label {
    color: #3880ff;
  }
  
  ion-list {
    margin-top: 20px;
  }
  